In [1]:
import pandas as pd
import numpy as np

In [2]:
 data = pd.Series([0.25, 0.5, 0.75, 1.0], #create a series
 index=['a', 'b', 'c', 'd'])

In [3]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [4]:
data['b'] #calling the index

0.5

In [5]:
population_dict = {'California': 38332521,
 'Texas': 26448193,
 'New York': 19651127,
 'Florida': 19552860,
 'Illinois': 12882135}
population = pd.Series(population_dict)

In [6]:
population #Calling the series

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [7]:
population['Texas']

26448193

In [8]:
population['Texas':'Florida'] #parameters

Texas       26448193
New York    19651127
Florida     19552860
dtype: int64

In [9]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}]) #Even if some keys in the dictionary are missing, Pandas will fill them in with NaN

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [10]:
pd.DataFrame(np.random.rand(3, 2),
 columns=['foo', 'bar'],
 index=['a', 'b', 'c']) # two-dimensional NumPy array (3 rows, 2 columns)

        foo       bar
a  0.979309  0.847634
b  0.476608  0.176273
c  0.484784  0.767054

In [11]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [12]:
indA & indB # intersection

Int64Index([3, 5, 7], dtype='int64')

In [13]:
indA | indB # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [14]:
indA ^ indB # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

In [15]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [16]:
data[1] # explicit index when indexing

'a'

In [17]:
data[1:3] # implicit index when slicing

3    b
5    c
dtype: object

In [18]:
area = pd.Series({'California': 423967, 'Texas': 695662,
 'New York': 141297, 'Florida': 170312,
 'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
 'New York': 19651127, 'Florida': 19552860,
 'Illinois': 12882135})

In [19]:
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [20]:
data['area'] #calling area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [21]:
data.area #another way

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [22]:
data.area is data['area'] #only if no method is called area

True

In [23]:
data.pop is data['pop'] #There is a method in python called pop

False

In [24]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [25]:
data.iloc[:3, :2] #only the first 3 rows of the first 2 columns

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [26]:
data.loc[data.density > 100, ['pop', 'density']] #Values > than 100

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121